<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header></app-header>
<body>
  <table>
    <tr>
      <td>
        <div align="center">
          <img src="/assets/imagenes/materia.jpg">
        </div>
      </td>
      <td>
          <div align="center">
            <h1>Tecnologia Web</h1>
          </div>
        
        <p>
          En la actualidad toda institución requiere interactuar de menor a mayor manera con las
          nuevas tecnologías de información y comunicación siendo el uso de las tecnologías online
          una herramienta primordial para incorporar a la institución en el nuevo enfoque de
          mercado laboral y competitividad empresarial. El buen manejo de las tecnologías online
          proporciona una ventaja competitiva a los profesionales e instituciones que hacen uso
          efectivo de estas tecnologías.<br>
        </p>
        <h2>Datos generales:</h2>
        <ul>
          <li>Tiempo: 6 meses (100 horas).</li>
          <li>Creditos: 6 creditos.</li>
          <li>Certificaciones: Certificado al finalizar el curso.</li>
        </ul>
      </td>
    </tr>
  </table>
  <h3>Modulos:</h3>
  <app-tables></app-tables>
  <h3>Contactos:</h3>
  <div align="center">
    <h4>Central Piloto</h4>
      <p class="alr"> 2782222 – 2782812 – 2783771 – 2785152 – 2785061-<br>
        2785983 – 2782393 – 2783283</p>
  </div>
  
  <div align="center">
    <h4>Fax Rectorado</h4>
    <p class="alr"> 2786707-2786749</p>
  </div> 
  <div align="center">
    <h4>Redes Sociales</h4>
    <ul>
      <li><a href="https://es-la.facebook.com/UCB.BOLIVIA/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/ucblapaz?lang=es">Twitter</a></li>
      <li><a href="https://www.instagram.com/ucb.lapaz/?hl=es" target="_blank">Instagram</a></li>
    </ul> 
  </div> 
</body>

<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>