<table>
    <tr>
        <td>
            <h1>Introducción a la Tecnología WEB</h1>
            <p>
                Comprende los conceptos fundamentales de la tecnología web.<br>
            </p>
            <h2>Conoce los siguientes lenguajes de programación y desarrolla en:</h2>
            <ul>
                <li>Internet & WWW</li>
                <li>Protocolo HTTP</li>
                <li>Clientes Web, Servidores Web y Servidores de aplicaciones</li>
                <li>Aplicaciones Web e Interfaces Web</li>
                <li>Lenguajes y Tecnologías de Programación Web</li>
                <li>SaaS</li>
                <li>Cloud computing</li>
            </ul>
        </td>
        <td>
            <div align="center">
                <img src="/assets/imagenes/modulo2.jpg">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <img src="/assets/imagenes/modulo1.jpg">
            </div>
        </td>
        <td>
            <h1 class="ara">Solucion Tecnologica WEB</h1>
            <p class="lar">
                Diseña y desarrolla una solución tecnológica de acuerdo a los requerimientos
                de los casos reales planteados.<br>
            </p>
            <h2 class="ra">Conoce los siguientes lenguajes de programación y desarrolla en:</h2>
            <ul class="bla">
                <li>HTML5, XML, XHTML</li>
                <li>HTML5, PHP y MySQL</li>
                <li>PHP, MySQL y AJAX</li>
                <li>JavaScript</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h1>CMS y Framework</h1>
            <p>
                Comprende y usa correctamente las herramientas tecnológicas que
                van relacionadas con los conceptos tecnológicos y los requerimientos
                establecidos.<br>
            </p>
            <h2>Aplica las herramientas:</h2>
            <ul>
                <li>Herramientas web 2.0</li>
                <li>Publicacion y presentacion con herramientas web 2.0</li>
                <li>Sistemas de Manejo de contenido</li>
                <li>Web Services</li>
                <li>Arquitectura Orientada a Servicios</li>
            </ul>
        </td>
        <td>
            <div align="center">
                <img src="/assets/imagenes/modulo3.png">
            </div>
        </td>
    </tr>
</table>
